# **Feature Scaling**

Feature scaling is a technique used to normalize the range of independent variables in a dataset. It is a process of scaling the features of the data to a common range. 
This is done to prevent features with large ranges from dominating the model. There are several methods for feature scaling, including:
- **Standardization**: This method subtracts the mean and divides by the standard deviation for each feature . This is the most common method of feature scaling. 
- **Normalization**: This method scales the features to a common range, usually between 0 and 1. This is useful when the features have different units or scales.
- **Min-Max Scaling**: This method scales the features to a common range, usually between 0 and 1. This is similar to normalization, but it uses the minimum and maximum values of each feature to scale the data.

Feature scaling is an important step in machine learning because it can improve the performance of the model. It can also help to prevent features with large ranges from dominating the model. 
This is particularly useful when using distance-based algorithms, such as k-Nearest Neighbors (k-NN). The goal of feature scaling is to ensure that all features are on the same scale, so that no single feature dominates the others.

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [16]:
df = pd.read_csv("https://github.com/RyanNolanData/YouTubeData/blob/main/500hits.csv?raw=true", encoding="latin-1")
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [17]:
df = df.drop(columns = ["PLAYER", "CS"])

In [18]:
df. describe().round(2)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
count,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00,465.00
mean,17.05,2048.70,7511.46,1150.31,2170.25,380.95,78.55,201.05,894.26,783.56,847.47,195.91,0.29,0.33
std,2.77,354.39,1294.07,289.64,424.19,96.48,49.36,143.62,486.19,327.43,489.22,181.85,0.02,0.47
min,11.00,1331.00,4981.00,601.00,1660.00,177.00,3.00,9.00,0.00,239.00,0.00,7.00,0.25,0.00
25%,15.00,1802.00,6523.00,936.00,1838.00,312.00,41.00,79.00,640.00,535.00,436.00,63.00,0.27,0.00
50%,17.00,1993.00,7241.00,1104.00,2076.00,366.00,67.00,178.00,968.00,736.00,825.00,137.00,0.29,0.00
75%,19.00,2247.00,8180.00,1296.00,2375.00,436.00,107.00,292.00,1206.00,955.00,1226.00,285.00,0.30,1.00
max,26.00,3308.00,12364.00,2295.00,4189.00,792.00,309.00,755.00,2297.00,2190.00,2597.00,1406.00,0.37,2.00

In [19]:
X1 = df.iloc[:, 0:13]
X2 = df.iloc[:, 0:13]

For Normalization in Feature Scaling, scikit-learn uses the below formula:-
* (X - Min(X))/(Max(X) - Min(X))
- It is bounded between 0 and 1.

For Standardization in Feature Scaling, scikit-learn uses the below formula:-
* (X - Mean(X))/Standard Deviation(X)
- Unlike Normalization, Standardization is not bounded between 0 and 1 and can have +ve and -ve numbers larger than 1.

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
scaleStandard = StandardScaler()
X1 = scaleStandard.fit_transform(X1) 
# fit_transform() is used to fit the data and then transform it(standardize it).
# If we use only transform() it will not fit the data and will not standardize it
X1 = pd.DataFrame(X1, columns= df.columns[0:13])

In [22]:
X1.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
0,2.516295,2.786078,3.034442,3.787062,4.764193,3.559333,4.389485,-0.585841,-0.346449,1.423013,-1.003628,3.832067,3.648290
1,1.792237,2.760655,2.677044,2.760530,3.444971,3.569709,1.996457,1.909487,2.175837,2.493089,-0.309948,-0.649080,1.996159
2,1.792237,2.091184,2.075964,2.528955,3.171214,4.264876,2.909053,-0.585841,-0.350567,1.826585,-1.283965,1.299723,2.657012
3,1.068180,1.972543,2.849554,2.670665,3.055576,1.691719,-0.254611,0.410896,0.858071,0.912434,2.030966,0.892346,1.004881
4,1.430208,2.099658,2.257758,2.024329,2.972977,2.687780,3.517449,-0.697364,-1.841290,0.548609,-1.065016,2.896201,1.901752

In [ ]:
X1.describe().round(3)
# This shows that the mean is 0 and standard deviation is 1, which is the property of Standardization.

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
count,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000
mean,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,-0.000,0.000,0.000,-0.000,0.000,0.000
std,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001,1.001
min,-2.190,-2.027,-1.958,-1.899,-1.204,-2.116,-1.532,-1.339,-1.841,-1.665,-1.734,-1.040,-2.016
25%,-0.742,-0.697,-0.765,-0.741,-0.784,-0.715,-0.762,-0.851,-0.524,-0.760,-0.842,-0.732,-0.742
50%,-0.018,-0.157,-0.209,-0.160,-0.222,-0.155,-0.234,-0.161,0.152,-0.145,-0.046,-0.324,-0.081
75%,0.706,0.560,0.517,0.504,0.483,0.571,0.577,0.634,0.642,0.524,0.775,0.490,0.533
max,3.240,3.557,3.754,3.956,4.764,4.265,4.673,3.861,2.888,4.300,3.580,6.662,3.648

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
scaleMinMax = MinMaxScaler(feature_range=(0, 1))
X2 = scaleMinMax.fit_transform(X2)
# fit_transform() is used to fit the data and then transform it(normalize it).
X2 = pd.DataFrame(X2, columns=df.columns[0:13])

In [26]:
X2.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
0,0.866667,0.861912,0.874035,0.971074,1.000000,0.889431,0.954248,0.144772,0.316064,0.517683,0.137466,0.632595,1.000000
1,0.733333,0.857360,0.811459,0.795750,0.778964,0.891057,0.568627,0.624665,0.849369,0.697078,0.268002,0.050751,0.708333
2,0.733333,0.737481,0.706217,0.756198,0.733096,1.000000,0.715686,0.144772,0.315194,0.585341,0.084713,0.303788,0.825000
3,0.600000,0.716237,0.841663,0.780401,0.713721,0.596748,0.205882,0.336461,0.570744,0.432086,0.708510,0.250893,0.533333
4,0.666667,0.738998,0.738047,0.670012,0.699881,0.752846,0.813725,0.123324,0.000000,0.371092,0.125915,0.511079,0.691667

In [ ]:
X2.describe().round(3)
# This shows that the minimum value is 0 and maximum value is 1, which is the property of Min-Max Scaling.

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA
count,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000
mean,0.403,0.363,0.343,0.324,0.202,0.332,0.247,0.257,0.389,0.279,0.326,0.135,0.356
std,0.184,0.179,0.175,0.171,0.168,0.157,0.161,0.193,0.212,0.168,0.188,0.130,0.177
min,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,0.267,0.238,0.209,0.198,0.070,0.220,0.124,0.094,0.279,0.152,0.168,0.040,0.225
50%,0.400,0.335,0.306,0.297,0.164,0.307,0.209,0.227,0.421,0.255,0.318,0.093,0.342
75%,0.533,0.463,0.433,0.410,0.283,0.421,0.340,0.379,0.525,0.367,0.472,0.199,0.450
max,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000